/* Reset CSS */
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 120rem;
}

/* wrapper styles */
.wrapper {
  background: url(../img/main-bg.jpg) center no-repeat;
  background-size: cover;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background: radial-gradient(closest-corner,
              rgba(0, 0, 0, 1) 20%,
              rgba(0, 0, 0, .5));*/
  background: rgba(0, 0, 0, .7);
}

/* header styles */
.header {
  background-color: rgba(0, 0, 0, .4);
  position: relative;
  height: 10rem;
  z-index: 9;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 6rem;
}

.header__logo img {
  height: 6rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 5rem;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__nav ul li a {
  color: #fff;
  display: block;
  font-size: 2rem;
  line-height: 2.5rem;
  text-decoration: none;
}

.header__nav ul li a:hover,
.header__nav ul li .header__profile~a:hover {
  background: linear-gradient(aqua, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  transform: scale(1.1);
}

.header__nav ul li h5 {
  color: #fff;
  font-size: 2.5rem;
}

.header__nav ul li .header__profile {
  color: aqua;
}

.header__nav ul li .header__profile~a {
  color: red;
}

.header__nav ul li:last-child {
  text-align: right;
}

.header__nav ul li:not(:last-child) {
  margin-right: 2rem;
}

.header__search {
  background-color: #fff;
  display: block;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  padding: 1rem;
}

.header__search img {
  height: 2rem;
  width: 2rem;
}

.header__search:hover {
  background: linear-gradient(aqua, yellow);
  transform: scale(1.1);
}

.header__avatar {
  margin-right: 0 !important;
  height: 6rem;
  width: 6rem;
}

.header__avatar img {
  height: 6rem;
  width: 6rem;
}

/* map styles */
.map {
  /*background: #3F51B5;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 10rem - 6rem);
  width: 100%;
  z-index: 99;
}

.map__slogan {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-shadow: .1rem .1rem .5rem #97743a;
  text-transform: uppercase;
}

.map svg {
  height: 70rem;
  width: 110rem;
}

.map path {  
  cursor: pointer;
  /*fill: #21669E;*/
}

.map .tooltip:hover {
  /*fill: url(#gradient);*/
  /*fill: #b0a18e;*/
  transition: (0.3s);
}

.map path.blur {
  fill: url(#gradient);
}

.map path.visited {
  fill: url(#gradient);
}

.description {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #eee;
  color: #21669e;
  display: none;
  font-size: 2rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -170%);  
  z-index: 5;
}

.description.active {
  display: block;
}

/* footer style */
.footer {
  /*background: #1A237E;*/
  background-color: rgba(0, 0, 0, .4);
  position: relative;
  height: 6rem;
  width: 100%;
  z-index: 9;
}

.footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer h5 {
  color: #fff;
  font-size: 1.8rem;
  text-shadow: .1rem .1rem .5rem #333;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
}